
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: helvetica, arial, sans-serif;
}

@media (min-width: 0px) {
body {
	margin-left:0;
}
} 

@media (min-width: 680px) {
body {	
	margin-left:10px;
}
} 


.button
{
	border:1px solid #adadad;
	background-color: #eee;
	cursor:pointer;
	border-radius:3px;
	width:95px;
	text-align:center;
	padding:5px 0;
}

.button:hover
{
	background-color: #adadad;
}

.image
{
	display:inline-block
}
.details
{


	float:right;
	vertical-align:top;
	width:150px;
}

.details div
{
	padding-bottom:5px;
}


.itemList
{
	border-style:solid;
	border-color:#adadad;
	border-width:1px 2px 2px 1px;
	clear:both;
	width:350px;
	height:125px;
	padding:5px 5px 5px 10px;
	margin-bottom:2px;
}



.shopping-basket
{	
	float:left;	
}

.name
{
	text-decoration:bold;
}

h1,h3{
	margin-top:10px;
	margin-bottom:10px;
}

.products{
	width:420px;
	float:left;
}